body {
  font-family: proxima nova, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
}
h1 {
    font-family: proxima nova,sans-serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.1em;
    margin-bottom: 10px;
    margin-top: 20px;
}
h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: proxima nova, sans-serif;
  font-size: 39px;
  font-weight: 600;
  line-height: 1.1em;
}
h3 {
    color: #2C3E50;
    font-family: proxima nova,sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.1em;
    margin-bottom: 10px;
    margin-top: 20px;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: proxima nova, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  font-family: proxima nova, sans-serif;
  font-size: 18px;
  line-height: 1.4em;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.button.btn-outline {
  width: 76%;
  border: 2px solid #333;
  border-radius: 3px;
  background-color: transparent;
  font-family: proxima nova, sans-serif;
  color: #333;
}
.button.btn-outline:hover {
  background-color: #333;
  color: white;
}
.button.btn-outline.alt-button-outline {
  width: 78%;
}
.navbar {
  position: fixed;
  width: 100%;
  background-color: #f0f0f0;
}
.w-nav-link {
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-transition: none 0ms ease;
  -o-transition: none 0ms ease;
  transition: none 0ms ease;
  font-family: montserrat, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  transition: all 0.1s ease 0s;
}
.w-nav-link:hover {
  color: white;
}

.home-header {
  background-color: #2c3e50;
}
.logo {
  color: white;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.4em;
  padding-top: 18px;
}
.hero {
  background-color: #3498db;
}
.lets-go {
    background-color: #E74C3C;
    background-image: url("../images/right-arrow.png");
    background-position: 92% center;
    background-repeat: no-repeat;
    background-size: 7% auto;
    border-radius: 10px;
    box-shadow: 4px 4px 0 0 #AE2214;
    color: #FFFFFF;
    display: block;
    font-family: proxima nova,'Helvetica Neue',Helvetica,sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.4em;
    padding: 5px 17px 2px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.1s ease 0s;
    width: 200px;
}
.lets-go:hover {
	background-color: #e56154;
}
.lets-go:focus {
	box-shadow: none;
}
.lets-go:active {
    transform: translate(1px, 4px);
}
.footer {
  background-color: #2c3e50;
  font-family: proxima nova, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  color: white;
  padding: 18px 0;
}
.gray-sec {
  background-color: #ededed;
}
.hero .w-container {
  padding-top: 99px;
  padding-bottom: 99px;
  background-image: url('../images/house.png');
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: 44% auto;  
}
.hero h2 {
	margin-bottom: 22px;
}
.home-navbar {
  background-color: #2c3e50;
}
.flagtag {
  float: left;
}
.hero h1, .hero h2 {
	color: #fff;
}
.sec {padding: 40px 0;}
.sec img {max-width: 70%;}
.sec.light img {float: right;}
.sec h3 {
	padding: 70px 0;
}
.gray-sec img {padding: 97px 0;}
.footer p {
    display: inline-block;
    padding-left: 10px;
    padding-top: 4px;
}
.footer img {
    width: 120px;
}
section.last {
    padding-bottom: 55px;
    text-align: center;
}
section.last .lets-go {margin: 0 auto;}
section.last h3 {padding: 10px 0 40px;}
.arrow-1 {
    padding-top: 246px;
    position: absolute;
    right: 44%;
    z-index: 1;
}
.arrow-2 {
    padding-top: 600px;
    position: absolute;
    right: 41%;
    z-index: 1;
}
.permit {
    padding-right: 100px;
    padding-top: 32px;
}
.w-icon-nav-menu:before {color: #fff;}
.w-nav-button.w--open, .w--nav-menu-open {
    background-color: #32465B;
}
    
@media (max-width: 991px) {
.logo {margin-top: -8px;}
}
@media (max-width: 767px) {
.sec {padding: 20px 0;}
.sec h3, .gray-sec img {
	padding: 20px 0;
}
.sec img {max-width: 100%; padding: 10px 0;}
.sec.light img {float: none}
.hero .w-container {
  background-image: none;  
}
.hero .w-container {
	padding: 20px 10px;
}
h1 {font-size: 37px;}
h2 {font-size: 19px}
h3 {font-size: 30px;}
h1, h2, h3, img, .hero {text-align: center;}
.lets-go {margin: 0 auto;}
.arrow-1, .arrow-2 {display: none;}
.w-col-6 {
    text-align: center;
} 
}