label.project {
  background-color: grey;
  padding: 20px;
  height: 140px;
  border-radius: 4px;
  background-color: whitesmoke;

  p {
    text-align: center;
    font-size: 17px;
    line-height: 18px;
  }

  // hand pointer on hover for label buttons
  &:hover {
    cursor: pointer;
    cursor: hand;
  }
}

// color the label when checked
:checked + label.project {
  background-color: #c9e6ed;
}

.project img {
  display: block;
  margin: -3px auto 15px;
  max-height: 62px;
}

.new_permit {
  .col-md-4 {
    padding: 0 10px 20px 10px;
  }
  .row {
    margin-left: -10px;
    margin-right: -10px;
  }
  input[type="checkbox"] {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
  }
}