label.project {
  background-color: grey;
  padding: 20px;
  height: 120px;
  border-radius: 4px;
  background-color: whitesmoke;

  p {
    bottom: 15px;
    text-align: center;
    font-size: 16px;
    font-family: montserrat, sans-serif;
    left: 0;
    line-height: 18px;
    padding-top: 15px;
    position: absolute;
    right: 0;
  }
  .long {
  }

  // hand pointer on hover for label buttons
  &:hover {
    background-color: #ededed;
    cursor: pointer;
    cursor: hand;
  }
}

// color the label when checked
:checked + label.project {
  background-color: #c9e6ed;
}

.project img {
  display: block;
  margin: -3px auto 0;
  max-height: 48px;
}

.new_permit {
  .col-md-4 {
    padding: 0 10px 20px 10px;
  }
  .row {
    margin-left: -10px;
    margin-right: -10px;
  }
  input[type="checkbox"] {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
  }
}

#addition {
  background-image: url("/assets/permits/new/addition.png");
  background-position: center 15px;
  background-repeat: no-repeat;
  background-size: 40px auto;
}

/* Extra small devices (phones, less than 479px) */

@media (max-width: 479px) {
  .new_permit .col-md-4 {
    padding-bottom: 3px;
  }
  .btn-block {
    position: relative;
    line-height: 32px;
  }
  label.project {
    height: 50px;
    padding: 0;
    p {
      left: 44%;
      padding-top: 17px;
      padding-right: 22px;
      position: absolute;
      text-align: left;
      br {
        display: none;
      }
    }
  }
  .project img {
    padding: 8px 0 8px 22px;
    float: left;
    margin: 0;
  }
  .project-block .clearfix {
    display: none;
  }  
}