label.project {
  background-color: grey;
  background-position: center 15px;
  background-repeat: no-repeat;  
  padding: 20px;
  height: 120px;
  border-radius: 4px;
  background-color: whitesmoke;
  position: relative;

  p {
    bottom: 0;
    font-family: montserrat,sans-serif;
    font-size: 16px;
    left: 0;
    line-height: 18px;
    padding: 0 12px;
    position: absolute;
    right: 0;
    text-align: center;
  }
  .long {
  }

  // hand pointer on hover for label buttons
  &:hover {
    background-color: #ededed;
    cursor: pointer;
    cursor: hand;
  }
}
.es label.project {
  height: 135px;
}

// color the label when checked
:checked + label.project {
  background-color: #c9e6ed;
}

.project img {
  display: block;
  margin: -3px auto 0;
  max-height: 48px;
}

.new_permit {
  .col-md-4 {
    padding: 0 10px 20px 10px;
  }
  .row {
    margin-left: -10px;
    margin-right: -10px;
  }
  input[type="checkbox"] {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
  }
}

#addition {
  background-image: url("/assets/permits/new/addition.png");
  background-size: 40px auto;
}

#acs-struct {
  background-image: url("/assets/permits/new/shed.png");
  background-size: 40px auto;
}

#deck {
  background-image: url("/assets/permits/new/deck.png");
  background-size: 115px auto;
}

#pool {
  background-image: url("/assets/permits/new/pool.png");
  background-size: 55px auto;
}

#cover {
  background-image: url("/assets/permits/new/carport.png");
  background-size: 46px auto;
}

#window {
  background-image: url("/assets/permits/new/window.png");
  background-size: 44px auto;
}

#door {
  background-image: url("/assets/permits/new/door.png");
  background-size: 37px auto;
}

#wall {
  background-image: url("/assets/permits/new/wall.png");
  background-size: 50px auto;
}

#siding {
  background-image: url("/assets/permits/new/siding.png");
  background-size: 68px auto;
}

#floor {
  background-image: url("/assets/permits/new/floor.png");
  background-size: 75px auto;
}
/* Extra small devices (phones, less than 479px) */

@media (max-width: 479px) {
  .new_permit .col-md-4 {
    padding-bottom: 3px;
  }
  .btn-block {
    position: relative;
    line-height: 32px;
  }
  label.project, .es label.project {
    background-position: 12px center !important;
    background-size: contain !important;
    border: 10px solid transparent;
    height: 50px;
    padding: 0;
    p {
      padding-top: 0;
      padding-left: 38%;
      padding-right: 0;
      position: relative;
      text-align: left;
      top: 50%;
      transform: translateY(-50%); 
      -ms-transform: translateY(-50%); /* IE 9 */
      -webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */           
      br {
        display: none;
      }
    }
  }
  .project img {
    padding: 8px 0 8px 22px;
    float: left;
    margin: 0;
  }
  .project-icon {
  padding-left: 0;
  }
  .project-block .clearfix {
    display: none;
  }  
}