    <div class="main-sec">
      <div class="w-container">
        <div class="test-prog-bar">
          <div class="house-block">
            <%= image_tag "house.png",                      class: "house"    %>
            <%= image_tag "color-house-parts/addition.png", class: "addition" %>
          </div>
          <h2>Progress</h2>
          <div class="bar">
            <div class="bar small waypoint"></div>
          </div>
          <h6 class="progress-percent">0%</h6> 
        </div>      
          <div class="step ha-waypoint" id="renovation-rules" data-animate-down="50%" data-animate-up="34%">
            <h1>Here's the permit you need to apply for</h1>
            <h2 class="grant-total permits-req">Permits Required</h2>
            <div class="w-row">
              <div class="w-col">
                <div class="content-block">
                  <h3>GENERAL</h3>
                  <p class="small-text">Required for all residential additions project. Carries specific construction and material requirements. Repairs can be done by homeowner or contractor.</p>
                  <p class="small-text"><b>Application cost:</b> $26</p>
                  <p class="small-text"><b>Required documents:</b> <br>Site plan, permit application</p>
                  <p class="small-text"><b>Approximate time:</b> <br>2 weeks</p>
                </div><a class="btn-fill" href="/landing/step4">apply</a>
              </div>                
              </div>