    <div class="main-sec">
      <div class="w-container">
        <div class="test-prog-bar">
          <div class="house-block">
            <%= image_tag "house.png",                      class: "house"    %>
            <%= image_tag "color-house-parts/addition.png", class: "addition" %>
          </div>
          <h2>Progress</h2>
          <div class="bar">
            <div class="bar small waypoint"></div>
          </div>
          <h6 class="progress-percent">0%</h6> 
        </div>
    <div class="w-form step ha-waypoint" id="permit-app">
            <h1>General Permit Application</h1>
	        <div class="room-addition-fields">
		        <label for="owner-name">Owner Name:</label>
		        <input class="w-input" id="owner-name" type="text" placeholder="Example Text" name="owner-name" required="required" data-name="Owner Name">
		        <label for="SqFtHouse">Sq Ft (House):</label>
		        <input class="w-input" id="SqFtHouse" type="text" placeholder="Example Text" name="SqFtHouse" required="required" data-name="Sq Ft (House)">
		        <label for="SqFtAddition">Sq Ft (Addition):</label>
		        <input class="w-input" id="SqFtAddition" type="text" placeholder="Example Text" name="SqFtHouse" required="required" data-name="Sq Ft (Addition)">	        
	        </div>     
	                    
      <form id="email-form" name="email-form" data-name="Email Form">
        <label for="air-conditioning-heating-system">Air conditioning heating system:</label>
        <select class="w-select" id="air-conditioning-heating-system" name="air-conditioning-heating-system" data-name="Air conditioning heating system" required="required">
          <option value="">Select one...</option>
          <option value="First">None</option>
          <option value="Second">Wall Unit</option>
          <option value="Third">Extended from Main House</option>
          <option value="Fourth">New Split System</option>
        </select>
        <label>Contractor used?</label>
        <div class="w-radio">
          <input class="w-radio-input" id="yes" type="radio" name="contractor-used" value="yes" data-name="Radio">
          <label class="w-form-label" for="yes">Yes</label>
          <input class="w-radio-input" id="no" type="radio" name="contractor-used" value="no" data-name="Radio">
          <label class="w-form-label" for="radio-2">No</label>
        </div>
        <div class="contractor-fields">
	        <label for="contractor-name">Contractor Name:</label>
	        <input class="w-input" id="contractor-name" type="text" placeholder="Example Text" name="contractor-name" required="required" data-name="Contractor Name">
	        <label for="contractor-id">Contractor ID#:</label>
	        <input class="w-input" id="contractor-id" type="text" placeholder="Example Text" name="contractor-id" required="required" data-name="Contractor ID#">
	        <label for="license">License #:</label>
	        <input class="w-input" id="license" type="text" placeholder="Example Text" name="license" required="required" data-name="License #">
		</div>
        <label for="phone">Phone:</label>
        <input class="w-input" id="phone" type="text" placeholder="Example Text" name="phone" required="required" data-name="Phone">
        <label for="fax">Fax:</label>
        <input class="w-input" id="fax" type="text" placeholder="Example Text" name="fax" required="required" data-name="Fax">
        <label for="email">Email:</label>
        <input class="w-input" id="email" type="text" placeholder="Example Text" name="email" required="required" data-name="Email">
        <label for="work-summary">Work Summary:</label>
        <textarea class="w-input" id="work-summary" placeholder="Example Text" name="work-summary" data-name="Work Summary"></textarea>
        <label>Escrow?</label>
        <div class="w-radio">
          <input class="w-radio-input" id="yes-2" type="radio" name="escrow" value="Yes" data-name="Escrow">
          <label class="w-form-label" for="yes-2">Yes</label>
        </div>
        <div class="w-radio">
          <input class="w-radio-input" id="no" type="radio" name="escrow" value="No" data-name="Escrow">
          <label class="w-form-label" for="no">No</label>
        </div>
        <label for="job-cost">Job cost:</label>
        <input class="w-input" id="job-cost" type="text" placeholder="Example Text" name="job-cost" required="required" data-name="Job cost">
        <input class="w-button btn-fill" type="submit" value="Submit" data-wait="Please wait..." href="/landing/step5">
      </form>
      <div class="w-form-done">
        <p>Thank you! Your submission has been received!</p>
      </div>
      <div class="w-form-fail">
        <p>Oops! Something went wrong while submitting the form :(</p>
      </div>
    </div>