<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: 4} %>

<!-- Begin step -->
<div class="col-sm-9">

  <!-- Intro text -->
  <div class="intro">
    <h1>Success email sent</h1>
    <div class="alert alert-danger">
        <p>Testing email success.</p>
    </div>
  </div>
 </div>
</div>