<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: 4} %>

<!-- Begin step -->
<div class="col-sm-9">

  <!-- Intro text -->
  <div class="intro">
    <h1>Sorry, something went wrong when generating your permit.</h1>
    <h4>You may want to go back and click on the "Download then print" button again, as sometimes it took a bit longer to generate your permit.</h4>
    <p>If that still doesn't work, please email us at sanantonio@codeforamerica.org</p>
  </div>
 </div>
</div>