<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: 4} %>

<!-- Begin step -->
<div class="col-sm-9">

  <!-- Intro text -->
  <div class="intro">
    <h1>Sorry, we can't help you right now.</h1>
    <h4>Your project does not meet the requirements needed for the General Permit Application.</h4>
    <p>Please contact Development Services Department at (210) 207-1111 to get the permit you need.</p>
  </div>
 </div>
</div>