<%= render partial: "layouts/sidebar", locals: {cur_step: 2} %> 
<div class="step ha-waypoint" id="renovation-rules" data-animate-down="50%" data-animate-up="34%">
  <h1>Here's the permit you need to apply for</h1>
  <h2 class="grant-total permits-req">Permits Required</h2>
  <div class="w-row">
    <div class="w-col">
      <div class="content-block">
        <h3>GENERAL</h3>
        <p class="small-text">Required for all residential additions project. Carries specific construction and material requirements. Repairs can be done by homeowner or contractor.</p>
        <p class="small-text"><b>Application cost:</b> $26</p>
        <p class="small-text"><b>Required documents:</b> <br>Site plan, permit application</p>
        <p class="small-text"><b>Approximate time:</b> <br>2 weeks</p>
      </div><%= link_to "apply", next_wizard_path, class: "btn-fill"%>
    </div>                
  </div>
</div>