<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: PermitStepsController::STEPS.index(:display_summary) + 1} %>

<!-- Begin step -->
<div class="col-sm-9">

  <!-- Intro text -->
  <div class="intro">
    <h1>Almost done! We filled in your permit applications</h1>
    <p>You'll need to complete a few simple steps to submit your application:</p>
  </div>

  <div class="panel panel-default">

    <div class="panel-heading">
      <h4>Download your finished permit application</h4>
    </div>

    <div class="panel-body container-fluid">
      <div class="row">

        <div class="col-sm-12">
          <div class="alert alert-warning"><!-- @TODO remove the need for this with pdf.js -->
            <p>The permit is in PDF form and requires a PDF reader. You can download the Adobe Acrobat PDF reader for free at <a href="http://get.adobe.com/reader/">this link</a>.</p>
          </div>
        </div>
      
        <%= image_tag "permits/general-repairs-template-preview-200px.png" , class: "hidden-xs col-sm-4" %>

        <div class="col-sm-8">
          <p><strong>Congratulations! You filled out the General Repair/Residential Permit Application.</strong></p>
          <p>We filled in the permit application form for you. Please click the button below to download and print this application.</p>
          <a class="btn btn-primary btn-md" href="/generated_permits/<%= @unique_key %>.pdf" target="_blank">Download then print</a>
        </div>
      </div><!-- ./row -->
    </div><!-- ./panel_body -->
  </div><!-- ./panel -->

  <% if @site_plan_required %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Make a detailed site plan</h4>
      </div>
      <div class="panel-body">
        <p>A site plan is a drawing of your property that includes current buildings (like houses or sheds) and new structures (like an addition or shed).</p>
        <p>You are required to draw and submit a detailed site plan with your permit.</p>
        <p><a class="btn btn-primary btn-md" href="<%= asset_path('siteplan-packet-1.0.pdf') %>" target="_blank">Download and fill out the site plan form</a></p>
      </div>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Bring your completed forms to the Development Services Department</h4>
    </div>
    <div class="panel-body">
      <p>You will have to submit your materials in person to the Development Services Department One-Stop. You will also have to pay a fee to apply for your permit.</p>
      <p><strong>Where:</strong> The Development Services Department One-Stop is located at <a href="https://www.google.com/maps/place/1901+S+Alamo+St/@29.4120584,-98.5013719,17z/data=!3m1!4b1!4m2!3m1!1s0x865c58b9ef04f373:0x367c26cca99a8393">1901 S. Alamo, San Antonio, Texas 78204</a>.</p>
      <p><strong>Office hours:</strong> 7:45am–4:30pm (Monday–Friday)</p>
      <p><strong>What to bring:</strong> Please come prepared with the following items.
      <ul>
        <li>Your printed General Repairs/Residential Permit application</li>
        <li>Your printed and completed site plan</li>
        <li>A form of photo identification (i.e. driver's license, passport)</li>
        <li>Proof of home ownership for the property you're working on (i.e. deed, Bexar County Appraisal District paperwork)</li>
        <li>A form of payment (i.e. credit card, check or cash)</li>
      </ul>
       <p><strong>Do you have any questions?</strong> Call the Development Services Department at (210) 207-1111.</p>
    </div>
  </div>

</div> <!-- ./col-sm-9 -->