<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: 2} %>

<!-- Begin step -->
<div class="col-sm-9">

  <!-- Intro text -->
  <div class="intro">
    <h1>Permits are required for this project</h1>
  </div>
  
  <!-- Permit information -->
  <div class="panel panel-default panel-info-addition">
    <div class="panel-heading">
      <h4>General Repair/Residential Permit Application</h4>
    </div>
    <div class="panel-body">
      <p>This permit is required for most residential repair projects. Separate permits are required for any mechanical, electrical, or plumbing work.</p>
      <p><strong>Application cost:</strong> <br>Application costs are based on the Fee Schedule. <a href="http://www.sanantonio.gov/dsd/pdf/FY2014FeeSchedule.pdf" target="_blank">Click here to view the Fee Schedule for more information.</a></p>
      <p><strong>Required documents:</strong></p>
      <p>
        <ul>
          <li>Completed permit application*</li>
          <li>Completed site plan*</li>
          <li>Form of photo identification (i.e. driver's license, passport)</li>
          <li>Proof of home ownership for the property you're working on (i.e. deed, Bexar County Appraisal District paperwork)</li> 
          <!-- @TODO make this language easier to understand -->
        </ul>
      </p>
      <p>*We will help you fill these out</p>

        <!-- Next button -->
        <%= link_to "Apply for this permit", next_wizard_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>

</div><!-- ./col-sm-9 -->