<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: 4} %>

<!-- Begin step -->
<div class="col-sm-9">

  <!-- Intro text -->
  <div class="intro">
    <h1>Almost done! We filled in your permit</h1>
    <p>You'll need to complete a few simple steps to submit your permit for approval.</p>
  </div>

  <div class="panel panel-default">

    <div class="panel-heading">
      <h4>1. Download your finished permit</h4>
    </div>

    <div class="panel-body container-fluid">
      <div class="row">

        <div class="col-sm-12">
          <div class="alert alert-warning"><!-- @TODO remove the need for this with pdf.js -->
            <p>The permit is in PDF form and requires a PDF reader. You can download the Adobe Acrobat PDF reader for free at <a href="http://get.adobe.com/reader/">this link</a>.</p>
          </div>
        </div>
      
        <%= image_tag "general-repairs-template-preview-200px.png" , class: "hidden-xs col-sm-4" %>

        <div class="col-sm-8">
          <p><strong>Congrats! You filled out the General Repair/Residential Permit.</strong></p>
          <p>We copied your details down to this form. Please click the button below to download and print this form.</p>
          <a class="btn btn-primary btn-md" href="/serve_pdf/<%= @unique_key %>.pdf" target="_blank">Download then print</a>
        </div>
      </div><!-- ./row -->
    </div><!-- ./panel_body -->
  </div><!-- ./panel -->

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>2. Sign your printed permit</h4>
    </div>

    <div class="panel-body">
      <%= image_tag "general-repairs-template-signhere.png", width: "100%" %>
      <p>After you've printed your permit, sign your name in the appropriate field.</p>
      <p><%#= @field_names %>
    </div><!-- panel-body -->
  </div><!-- ./panel -->

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>2. Make a detailed site plan</h4>
    </div>
    <div class="panel-body">
      <p>A site plan is a drawing of your property that includes  current buildings (like houses or sheds) and new structures (like an addition or shed).</p>
      <p>You are required to draw and submit a detailed site plan with your permit.</p>
      <p><a class="btn btn-primary btn-md" href="http://www.putnam-fl.com/uploads/uploads/forms/EXAMPLE_SITE_PLAN[1].pdf" target="_blank">See an example site plan</a></p>
      <p><a class="btn btn-primary btn-md" href="../../assets/blank-siteplan.pdf" target="_blank">Download blank site plan</a></p>
      <p>The following is a complete checklist of everything that should be drawn on your site plan:</p>
      <ul>
        <li>Size of your lot</li>
        <li>Location of existing structures (like your house)</li>
        <li>Location of easements</li>
        <li>Location of new buildings (like an addition or shed)</li>
        <li>Distances between all buildings</li>
        <li>Distance between buildings and your property line</li>
      </ul>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>3. Bring your completed forms to the Development Services Department</h4>
    </div>
    <div class="panel-body">
      <p>You will have to submit your materials in person to the Development Services Department One-Stop. You will also have to pay a fee to apply for your permit.</p>
      <p><strong>Where:</strong> The Development Services Department One-Stop is located at <a href="https://www.google.com/maps/place/1901+S+Alamo+St/@29.4120584,-98.5013719,17z/data=!3m1!4b1!4m2!3m1!1s0x865c58b9ef04f373:0x367c26cca99a8393">1901 S. Alamo, San Antonio, Texas 78204</a>.</p>
      <p><strong>What to bring:</strong> Please come prepared with the following items.
      <ul>
        <li>Your printed and signed General Repairs/Residential Permit application</li>
        <li>Your printed and completed site plan</li>
        <li>One form of identification (i.e. driver's license, passport)</li>
        <li>Proof of home ownership (i.e. property deed, utility bills with your address)</li>
      </ul>
       <p><strong>Do you have any questions?</strong> Call the Development Services Department at (210) 207-1111.</p>
    </div>
  </div>

</div> <!-- ./col-sm-9 -->