<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: 4} %>

<!-- Begin step -->
<div class="col-sm-9">

  <!-- Intro text -->
  <div class="intro">
    <h1>You do not need a permit to do this work.</h1>
    <h4>A permit is not needed for your project, build on!</h4>
    <p>If you have additional questions, please contact Development Services Department at (210) 207-1111.</p>
  </div>
 </div>
</div>