<div class="step ha-waypoint" id="enter-address" data-animate-down="17%" data-animate-up="0%">
  <h1>Enter your address</h1>
  <p>We will use this information to help you plan out your changes.</p>
  <div class="w-form">
    <%= form_for @permit, url: wizard_path, html: {name: "address-form"} do |f| %>
    <%= f.label :owner_address, "Your address:", class: "label", for: "name" %>
    <%= f.text_field :owner_address, placeholder: "Enter your address", class: "w-input field" %>
    <%= f.submit "submit", class: "btn-fill" %>
    <% end %>

    <div class="w-form-done">
      <p>Thank you! Your submission has been received!</p>
    </div>
    <div class="w-form-fail">
      <p>Oops! Something went wrong while submitting the form :(</p>
    </div>
  </div>
</div>