<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: 4} %>

<!-- Begin step -->
<div class="col-sm-9">

  <!-- Intro text -->
  <div class="intro">
    <h1>Sorry, something went wrong when generating your permit.</h1>
    <p>Please email us at sanantonio@codeforamerica.org</p>
  </div>
 </div>
</div>