<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>This is a test of the email system, <%= @permit.owner_name %>!</h1>
    <p>This is a test. Thank you.</p>
  </body>
</html>