<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: 1} %>

<!-- Begin step -->
<div class="col-sm-9">

  <!-- Intro text -->
  <div class="intro">
    <h1>Good news!</h1>
    <h4>Oh you’re using a contractor. They will fill out and submit the permits for you. Let them know that they’ll need to do this.</h4> 
    <h4>For additional questions, contact Development Services Department at (210) 207-1111.</h4>
  </div>
 </div>
</div>