<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: 1} %>

<!-- Begin step -->
<div class="col-sm-9">

  <!-- Intro text -->
  <div class="intro">
    <h1><%= t('views.permit_steps.use_contractor.heading') %></h1>
    <h4><%= t('views.permit_steps.use_contractor.contact') %></h4>
  </div>
 </div>
</div>