/*  
    =========================
    SET BASE VARIABLES

    these variabes will override the bootstrap defaut mixins 
    see those mixins here: http://getbootstrap.com/customize/#less-variables
    ===========================
*/

$container-lg: 1000px; /* set the max container size */

/* set some basic font styles */
$text-color: #333; // set the base text color
$font-family-sans-serif: 'Open Sans',sans-serif; 
$font-family-serif: Georgia, serif;
$font-size-base: 18px;

/* style our headings */
$headings-font-family: Montserrat, serif;
$headings-font-weight: 700;
$font-size-h1: 50px;

$grid-gutter-width: 40px; // bump up the grid gutters

/* now let's important the base bootstrap styles */
@import "bootstrap";

/*  
    =========================
    HOMEBASE STYLES, CRAFTED BY HAND

    this is where our custom styling beyond bootstrap begins
    ===========================
*/

.container#content {
  margin-top: 40px; // offset all the content from the top of the page
}

.container#header {
  .page-header {
    margin-top:25px; // set the offset of the header

    .about_container {
      margin:20px 0; // push the collapsed about container down
    }
  }
}

h1 {
  margin-top: 0px; // reset the top margin for h1. not sure why this is a thing in bootstrap/normalize
}

/* styles for the sidebar */
#sidebar {
  
  .visuals {
    position: relative; // allows us to position improvements
     // testing to keep icons tidy and inside sidebar

    .roof, .fence, .addition {
      position: absolute; // allows us to position each improvement
      display: none; // hide these on load; we reveal when they pick one
    }    

    /* positions for improvement icons */
    .house {
      width: 120px;
    }
    .roof {
      left: -5px;
      top: -1px;
      width: 158px;
    }
    .fence {
      bottom: 0;
      left: 6px;
      width: 136px;
    }
    .addition {
      bottom: 0px;
      left: 120px;
      width: 40px;
    }
  } // ./visuals

  .status {
    margin-top: 30px; // move the progress/steps down from the house block
    
    /* styles for the check icons  ...  @TODO this is an ugly way to do this, refactor */
    img {
      display: none;
    }
    ul {
      padding: 0 0 0 26px; // fixes the indentation for the steps/progress
      margin-left: 7px;
      position: relative;
      z-index: 1;
	  &:before {
	    background-color: #f1f1f1;
	    bottom: 0;
	    content: "";
	    left: 1px;
	    position: absolute;
	    top: 0;
	    width: 4px;
	    z-index: -1;
	  }
	}    
    a {
      color: #c2c2c2;
    }
    .w--current {
	    color: #333;
    }
    li {
      color: #999; // grey out the steps
      font-size: 13px;
      margin-bottom: 10px; // space out the steps
      list-style: none;
      position: relative;
      &:first-child {
        margin-top: 10px; // give the first step some space
      }
      &:before {
	    background: none repeat scroll 0 0 #c2c2c2;
	    border: 2px solid #c2c2c2;
	    border-radius: 100%;
	    content: "";
	    display: block;
	    height: 20px;
	    left: -33px;
	    position: absolute;
	    top: 0;
	    width: 20px;
	    z-index: 2;
      }
      &:after {
	    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4wLjIsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTEuMzE0cHgiIGhlaWdodD0iOS4xOTJweCIgdmlld0JveD0iMCAwIDExLjMxNCA5LjE5MiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTEuMzE0IDkuMTkyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iOS4xOTIsMCA0LjI0Myw0Ljk1IDIuMTIxLDIuODI4IDAsNC45NSAyLjEyMSw3LjA3MSA0LjI0Myw5LjE5MiA2LjM2NCw3LjA3MSAxMS4zMTQsMi4xMjEgIi8+DQo8L3N2Zz4NCg==") no-repeat scroll 0 0 transparent;
	    content: "";
	    display: block;
	    height: 10px;
	    left: -2.2em;
	    position: absolute;
	    top: 6px;
	    width: 12px;
	    z-index: 2;
      }      
    } //./li
	
	.entry-future:before {
	    background: none repeat scroll 0 0 white;
	    border-color: #c2c2c2;
	    position: absolute;
	    z-index: 2;		
	}
    .cur-step {
      color: #222; // darken the current step
      font-weight: 700; // bold the current step
      &:before {
	    background: none repeat scroll 0 0 #222;
	    border: 2px solid #222;
	}
      &:after {
	    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE3LjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA3LjMgMTAuMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNy4zIDEwLjIiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMi4xLDBMMCwyLjFsMywzbC0zLDNsMi4xLDIuMWw1LjItNS4xTDIuMSwweiIvPgo8L3N2Zz4=) no-repeat scroll 0 0 transparent;
	    left: -2em;
	    top: 5px;	    
      }    
	}
  } // ./status

} // ./sidebar

/* basic styles for each step */

.intro {
  margin-bottom: 25px; // put some space between the intro text and the form content
}

/* styles for #new (first step) */

.panel-info-addition { // styles for little green house ... @TODO refactor this to make it work for more project panels
  img { // 
    float:left;
    padding-right:25px;
    width:110px;
  }
}

/* styles for #enter_details */

.has-error p { //styles error helper text
  font-weight: 900;
  color: $brand-danger;
}

.multi-form {
  .form-group {
    padding-top: 25px; // space out the form fields

    &:first-of-type {
      padding-top:0px; // but not the first form field
    }
  }
}
/* Mobile styles */

@media (max-width: $screen-sm-min) {
  h1 {
    font-size: 2em; // shrink the section headers
  }

  .container#content {
    margin-top:0; // we don't need this margin anymore
  }

  #sidebar {
    margin-bottom: 25px;
    text-transform: uppercase;

    .status {
      margin-top: 0; // we don't need this margin anymore
      border: 1px solid $gray-lighter;
      padding: 5px 15px;
      
	  ul {
	  	margin-bottom: 7px;
	  	padding: 0;
	    &:before {
		  display: none;
        }
	  }
      li {
        display:none; // hide all the steps
        margin:0; // we don't need this margin anymore
        &:before {
          display: none;
        }        
      }
      .cur-step {
        display:inline-block; // show the step we're on, settle them on the same line
        font-weight: 700;
        font-size:12px;
        opacity: .5;
      }
    }
  }
}