/*  
    =========================
    SET BASE VARIABLES

    these variabes will override the bootstrap defaut mixins 
    see those mixins here: http://getbootstrap.com/customize/#less-variables
    ===========================
*/

$container-lg: 1000px; /* set the max container size */

/* set some basic font styles */
$text-color: #333; // set the base text color
$font-family-sans-serif: 'Open Sans',sans-serif; 
$font-family-serif: Georgia, serif;
$font-size-base: 18px;

/* style our headings */
$headings-font-family: Montserrat, serif;
$headings-font-weight: 700;
$font-size-h1: 50px;

$grid-gutter-width: 40px; // bump up the grid gutters

$brand-danger: #a94442;

/* now let's important the base bootstrap styles */
@import "bootstrap";

/*  
    =========================
    HOMEBASE STYLES, CRAFTED BY HAND

    this is where our custom styling beyond bootstrap begins
    ===========================
*/

body {
  padding-bottom: 30px; // add some padding at the bottom of the page
}

.container#content {
  margin-top: 30px; // offset all the content from the top of the page
}

.container#header {
  .page-header {
    margin-top:25px; // set the offset of the header

    .about_container {
      margin:20px 0; // push the collapsed about container down
    }
  }
}

h1 {
  margin-top: 0px; // reset the top margin for h1. not sure why this is a thing in bootstrap/normalize
}

.logo {
  color: $text-color;
  font-weight: bold;
  &:hover {
    color: $text-color;
    opacity: .8;
    text-decoration: none;
  }
}

.tagline {
  color: #999;
  font-size: 12px;
  margin-left: 4px;
  position: relative;
  top: -1px;
}

/* styles for the sidebar */

#sidebar {
   
  .addition, .acs-struct, .deck, .pool, .cover, .window, .door, .wall, .siding, .floor {
    position: relative; // allows us to position each improvement
    display: none; // hide these on load; we reveal when they pick one
  }

  .displayed {
    display: inline-block;  // when user clicks, show the improvement icon
  }

  .visuals {
    position: relative; // allows us to position improvements
     // testing to keep icons tidy and inside sidebar

    .roof, .fence, .addition {
      position: absolute; // allows us to position each improvement
      display: none; // hide these on load; we reveal when they pick one
    }    

    /* positions for improvement icons */
    .house {
      width: 120px;
    }
    .roof {
      left: -5px;
      top: -1px;
      width: 158px;
    }
    .fence {
      bottom: 0;
      left: 6px;
      width: 136px;
    }
    .addition {
      bottom: 0px;
      left: 120px;
      width: 40px;
    }
  } // ./visuals

  .status {
    margin-top: 30px; // move the progress/steps down from the house block
    &:last-child {
      border-top: none;
      .cur-step {
        margin-bottom: 7px;
        margin-left: 7px;
      }
    }
    ul {
      padding: 0 0 0 26px; // fixes the indentation for the steps/progress
      margin-left: 7px;
      position: relative;
      z-index: 1;
      
  	  &:before {
  	    background-color: #f1f1f1;
  	    bottom: 0;
  	    content: "";
  	    left: 1px;
  	    position: absolute;
  	    top: 0;
  	    width: 4px;
  	    z-index: -1;
        }
    }
    h4 {
	    text-transform: uppercase;
	    font-size: 17px;
	  }
    a {
      color: #c2c2c2;
    }
    li {
      color: #999; // grey out the steps
      font-size: 13px;
      margin-bottom: 10px; // space out the steps
      list-style: none;
      position: relative;
      &:first-child {
        margin-top: 10px; // give the first step some space
      }
      &:before {
	    background: none repeat scroll 0 0 #c2c2c2;
	    border: 2px solid #c2c2c2;
	    border-radius: 100%;
	    content: "";
	    display: block;
	    height: 20px;
	    left: -33px;
	    position: absolute;
	    top: 0;
	    width: 20px;
	    z-index: 2;
      }
      &:after {
	    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4wLjIsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTEuMzE0cHgiIGhlaWdodD0iOS4xOTJweCIgdmlld0JveD0iMCAwIDExLjMxNCA5LjE5MiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTEuMzE0IDkuMTkyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iOS4xOTIsMCA0LjI0Myw0Ljk1IDIuMTIxLDIuODI4IDAsNC45NSAyLjEyMSw3LjA3MSA0LjI0Myw5LjE5MiA2LjM2NCw3LjA3MSAxMS4zMTQsMi4xMjEgIi8+DQo8L3N2Zz4NCg==") no-repeat scroll 0 0 transparent;
	    content: "";
	    display: block;
	    height: 10px;
	    left: -2.2em;
	    position: absolute;
	    top: 6px;
	    width: 12px;
	    z-index: 2;
      }      
    } //./li
	
	.entry-future:before {
	    background: none repeat scroll 0 0 white;
	    border-color: #c2c2c2;
	    position: absolute;
	    z-index: 2;		
	}	
    .cur-step {
      color: #222; // darken the current step
      font-weight: 700; // bold the current step
      &:before {
	    background: none repeat scroll 0 0 #222;
	    border: 2px solid #222;
	}

      &:after {
	    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE3LjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA3LjMgMTAuMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNy4zIDEwLjIiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMi4xLDBMMCwyLjFsMywzbC0zLDNsMi4xLDIuMWw1LjItNS4xTDIuMSwweiIvPgo8L3N2Zz4=) no-repeat scroll 0 0 transparent;
	    left: -2em;
	    top: 5px;	    
      }    
	}
  } // ./status
  
  /* styles for your project */
  .project-label {
    background: none repeat scroll 0 0 #b1b1b1;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    font-weight: 700;
    height: 23px;
    line-height: 23px;    
    margin-right: 3px;
    margin-bottom: 5px;
    padding: 0 7px;
    }

} // ./sidebar

/* basic styles for each step */

.intro {
  margin-bottom: 25px; // put some space between the intro text and the form content
}

/* styles for #new (first step) */

.panel-info-addition { // styles for little green house ... @TODO refactor this to make it work for more project panels
  img { // 
    float:left;
    padding-right:25px;
    width:110px;
  }
}
.btn-initial {
  background-color: whitesmoke;
  border-radius: 4px;
  margin-bottom: 0;
  width: 100%;
}
.btn-initial:hover {
  background-color: rgba(237, 237, 237, 1);
  cursor: pointer;
}
.btn-initial.btn-success {
  background-color: #c9e6ed;
}
.new_permit .btn {
  margin-top: 20px;
  margin-left: 10px;
}
.new_permit {
  padding-bottom: 30px;
}

/* styles for #project_details */
.radio input[type="radio"], .checkbox input[type="checkbox"] {
	margin-top: 7px;
}

/* styles for #enter_details */

.has-error p, .field_with_errors .form-control, .field_with_errors { //styles error helper text
  color: $brand-danger;
}
.has-error p, .field_with_errors .form-control { //styles error helper text
  font-weight: 700;
}
.multi-form {
  .form-group {
    padding-top: 25px; // space out the form fields

    &:first-of-type {
      padding-top:0px; // but not the first form field
    }
  }
}

/* styles for #display_perimts */
.info-bottom {
  padding-top: 12.5px;
}
.info-top {
  padding-bottom: 12.5px;
}

/* Footer styles */
.footer {
  border-top: 1px solid #eeeeee;
  margin-top: 50px;
  padding-top: 30px;
}
.footer-logo {
  padding-right: 10px;
  height: 65px;
}

/* Screener styles */
.radio {
  padding-left: 20px;
}
.radio label {
  padding-left: 6px;
}
input[type=radio]:checked + label {
  font-weight: bold;
}
.radio > input:hover, .checkbox > input:hover {
    cursor: pointer;
}
label {
  margin-bottom: 0;
  display: block;
}

/* Uservoice styles */

.uv-link {
  position: fixed;
  right: 40px;
  bottom: 0;
  background-color: #428bca;
  border-radius: 5px 5px 0 0;
  color: white;
  padding: 6px 12px;
}
.uv-link:hover, .uv-link:focus {
  background-color: #3071a9;
  color: #fff;
  text-decoration: none;
}


/* Mobile styles */

@media (max-width: $screen-sm-min) {
  h1 {
    font-size: 2em; // shrink the section headers
  }

  .container#content {
    margin-top:0; // we don't need this margin anymore
  }

  #sidebar {
    margin-bottom: 25px;
    text-transform: uppercase;

    .status {
      margin-top: 0; // we don't need this margin anymore
      border: 1px solid $gray-lighter;
      padding: 5px 15px;
      
  	  ul {
  	  	margin-bottom: 7px;
  	  	padding: 0;
  	    &:before {
    		  display: none;
        }
  	  }
      li {
        display:none; // hide all the steps
        margin:0; // we don't need this margin anymore
        &:before {
          display: none;
        }        
      }
      .cur-step {
        display:inline-block; // show the step we're on, settle them on the same line
        font-weight: 700;
        font-size:12px;
        opacity: .5;
      }
    }
  }
  .uv-link {
    display: none;
  }
}
