body {
  font-family: 'Open Sans',sans-serif;
  color: #333;
  font-size: 14px;
}
h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 8px;
  font-family:'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.4em;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.button.btn-outline {
  width: 76%;
  border: 2px solid #333;
  border-radius: 3px;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  color: #333;
}
.button.btn-outline:hover {
  background-color: #333;
  color: white;
}
.btn-outline.toggle-on {
  background-color: #333;
  color: white;
}
.button.btn-outline.alt-button-outline {
  width: 78%;
}
.bar {
  width: auto;
  height: 12px;
  margin-top: 43px;
  background-color: #ebebeb;
}
.bar.small {
  width: 0;
  margin-top: -12px;
  background-color: #a7ccd4;
}
.bar.small.zero {
}
.navbar {
  position: fixed;
  width: 100%;
  background-color: #f0f0f0;
}
.brand {
  width: 80px;
  height: 80px;
  background-color: #2e2e2e;
}
.navlink {
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-transition: none 0ms ease;
  -o-transition: none 0ms ease;
  transition: none 0ms ease;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
.navlink:hover {
  background-color: #2e2e2e;
  color: white;
}
.container {
  padding-top: 21px;
  padding-bottom: 33px;
}
.btn-fill {
  display: inline-block;
  padding: 12px;
  border-bottom: 2px solid #6598a3;
  border-radius: 3px;
  background-color: #81bac7;
  font-family: Montserrat, sans-serif;
  color: white;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.btn-fill:hover {
  background-color: #a7ccd4;
}
.btn-fill:active {
  border-bottom-color: #a7ccd4;
  opacity: 1;
  -webkit-transform: translate(0px, 1px);
  -ms-transform: translate(0px, 1px);
  -o-transform: translate(0px, 1px);
  transform: translate(0px, 1px);
}
.btn-fill.grant-btn {
  width: 95%;
  margin-top: 9px;
}
.field {
  margin-bottom: 12px;
  padding-top: 28px;
  padding-bottom: 28px;
  font-family:'Open Sans', sans-serif;
  font-size: 18px;
}
.form {
  padding-top: 20px;
}
.alt-h1 {
  font-family: Montserrat, sans-serif;
  text-transform: none;
}
.item-col {
  padding-top: 22px;
  padding-bottom: 22px;
}
.step {
  width: 75%;
  padding-top: 50px;
  padding-bottom: 133px;
  float: right;
}

.step.first-step {
  padding-top: 18px;
}
.list-item {
  padding-bottom: 7px;
  font-family:'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.4em;
}
.content-block {
	
}
.content-block {
  margin-right: 12px;
  margin-bottom: 14px;
  padding: 11px 16px 5px;
  border: 3px solid #ebebeb;
  border-radius: 7px;
  background-color: #f7f7f7;
}
.content-block h3 {
  border-top-style: solid;
  border-bottom-style: solid;
  font-weight: 700;
  margin-top: 8px;
  margin-bottom: 8px;
}
.small-text {
  font-size: 16px;
}
.grant-total, .complete-message {
  padding: 11px;
  border-top: 6px solid #afc9a7;
  background-color: #dfedda;
}
.grant-total.permits-req {
  border-top-color: #c9a7a7;
  background-color: #eddada;
}
.overlay-img {
  padding-right: 22px;
}
.about-house-row {
  padding-bottom: 26px;
}
.progress-col {
  padding-top: 22px;
}
.test-prog-bar {
  position: fixed;
  width: 17%;
  padding-top: 43px;
  padding-right: 30px;
}
.main-sec {
  padding-top: 20px;
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
  .test-prog-bar {
    position: relative;
    width: auto;
    padding-right: 33px;
    padding-left: 33px;
  }
}

/* new */

.house-block {
    height: 152px;
    margin-bottom: 20px;
    position: relative;
}
.house, .roof, .fence, .addition, .chimney {
  position: absolute;  
}
.roof, .fence, .addition, .chimney {
  display: none;
}
.house {
  width: 148px;
}
.roof {
  left: -5px;
  top: -1px;
  width: 158px;
}
.fence {
  bottom: 0;
  left: 6px;
  width: 136px;
}
.addition {
  bottom: 5px;
  left: 147px;
  width: 50px;
}
.chimney {
  left: 15px;
  top: 4px;
  width: 34px;
}
.roof-btn {
  position: relative;
}
.switch-btns {
  padding-left: 6px;
}
.switch-btns a {
  margin-right: 4px;
}

.roof-btn {position: relative;}
.switch-btns {padding-left: 6px;}
.switch-btns a {margin-right: 4px;}
.lowercase-h1 {text-transform: none;}

.button.btn-outline.alt-button-outline.fence-btn.toggle-on, .button.btn-outline.fence-btn:hover 
{
  background-color: #0074D9;
  border-color: #0074D9;
}

.button.btn-outline.alt-button-outline.roof-btn.toggle-on, .button.btn-outline.roof-btn:hover 
{
  background-color: #CF1B41;
  border-color: #CF1B41;
}

.button.btn-outline.alt-button-outline.repairs-btn.toggle-on, .button.btn-outline.repairs-btn:hover 
{
  background-color: #69579C;
  border-color: #69579C;
}

.button.btn-outline.alt-button-outline.addition-btn.toggle-on, .button.btn-outline.addition-btn:hover 
{
  background-color: #3D9970;
  border-color: #3D9970;
}
.w-checkbox-input, .w-radio-input {
    float: left;
    line-height: normal;
    margin: 4px 10px 0 0;
}

.contractor-fields {display: none;}

.contractor-details {
  display: none;
}

.radio-btn {
  float:left;
  margin:0 13px 0 0;
}

.radio-last {
  margin-bottom:10px;
}

h3.form { 
  color:#999999;
  text-transform:uppercase;
  margin-bottom:30px; 
}

.room-addition-fields label {
  padding-bottom: 5px;
  font-family:'Open Sans', sans-serif;
  font-size: 18px;
  text-transform: none;
}
.room-addition-fields input,
.room-addition-fields select {
  margin-bottom: 20px;
}

p.label-explainer {
  font-size:14px;
  margin-top:-5px;
}

textarea.w-input {
  height:150px;
}
.w-input {
  margin-bottom:25px;
}

/* new sidebar */
.steps li {
  font-weight: 600;
  list-style: none;
  opacity: .42;
  margin-bottom:20px;
}
.steps .complete {
  opacity: .42;
}
.steps .cur-step {
  font-weight: bold;
  opacity: 1;
}
.prog ul {
  padding:0;
}
.prog h4 {
  margin-top:20px;
  text-transform: uppercase;
}
.test-prog-bar hr {
  width:70%;
  margin-left: 0;
}
.flaticon-check33 {
  opacity:.42;
  position:absolute;
  margin-top:-41px;
  margin-left:-50px;
  font-size:10px;
}
.flaticon-check33.last {
  opacity: 1;
}