<!--[if lte IE 9]>
<div class="alert alert-warning alert-ie fade in" role="alert">
  <button class="close" data-dismiss="alert" type="button">
    <span aria-hidden="true">×</span>
    <span class="sr-only">Close</span>
  </button>
    <h4>This website no longer supports Internet Explorer versions 7 or 8.</h4>
    <p>We recomend upgrading to the latest <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Internet Explorer</a>, <a href="https://www.google.com/chrome/browser/">Google Chrome</a>, or <a href="https://www.mozilla.org/firefox/">Firefox</a>.</p>
    <p>If you are using Internet Explorer 9 or later, make sure you turn off "Compatibility View"</p>
</div>
<![endif]-->