<!--[if lte IE 9]>
  <div class="alert alert-warning alert-ie fade in" role="alert">
    <button class="close" data-dismiss="alert" type="button">
      <span aria-hidden="true">×</span>
      <span class="sr-only">Close</span>
    </button>
    <h4><%= t('alert.not_supported_ie_version') %></h4>
    <p><%= t('alert.upgrade_recommendation_html') %></p>
    <p><%= t('alert.turn_off_compatibility_view') %></p>
  </div>
<![endif]-->