<!-- header content -->
<div class="page-header">
  <div class="clearfix">

    <div class="btn-toolbar">
      <%= link_to 'HOMEBASE', root_url, class: 'logo', 'data-toggle'=> 'tooltip', 'data-placement'=> 'right', title: 'Back to first step' %>

      <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="collapse" data-target="#about">About this project</button>
      <%= link_to 'Start over', root_url, class: 'btn btn-default btn-xs pull-right' %>
    </div>
  </div>

  <div class="about-container">
    <div id="about" class="collapse"><!-- collapsed by default -->
      <hr><!-- adds the line above this section -->
      <div class="row">
        <div class="col-sm-6">
          <h4>Created by Code for America and the City of San Antonio</h4>
          <p class="small"><a href="http://homebasefix.com">Click here</a> to read more about Homebase and how we're simplifying the home repair process in San Antonio.</p>
        </div>
        <div class="col-sm-6">
          <h4>Do you need help? Send us an email with your issue</h4>
          <p class="small">Please send us an email at <a href="mailto:sanantonio@codeforamerica.org">sanantonio@codeforamerica.org</a> with questions and issues.</p>
        </div>
      </div><!-- ./row -->
    </div><!-- ./#about -->
  </div><!-- ./about_container -->

</div><!-- ./page-header -->