<!-- Timeout modal -->
<div class="modal fade" id="leanModal" tabindex="-1" role="dialog" aria-labelledby="leanModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="leanModalLabel">Sign up to hear when we expand</h4>
      </div>
      
      <div class="modal-body">
        
        <form action="//techzans.us8.list-manage.com/subscribe/post?u=a51df0416eed89be630c22fd4&amp;id=da30a00040" class="validate" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank" role="form">

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi provident, placeat velit quos nobis temporibus, possimus autem quod sed culpa est illo.</p>

          <!-- MailChimp signup -->
          <div id="mc_embed_signup">
          
            <div class="mc-field-group form-group">
              <label for="mce-EMAIL">Email Address</label>
              <input class="required email form-control" id="mce-EMAIL" name="EMAIL" type="email" value="">
            </div>

            <div class="mc-field-group form-group">
              <label for="mce-FNAME">First Name</label>
              <input class="form-control" id="mce-FNAME" name="FNAME" type="text" value="">
            </div>

            <div class="mc-field-group form-group">
              <label for="mce-LNAME">Last Name</label>
              <input class="form-control" id="mce-LNAME" name="LNAME" type="text" value="">
            </div>

            <div class="mc-field-group input-group">
              <strong>What future features are you interested in hearing about?</strong>

                <div class="checkbox">
                  <label>
                    <input id="mce-group[13229]-13229-0" name="group[13229][1]" type="checkbox" value="1"><label for="mce-group[13229]-13229-0">I'm interested in finding a contractor with Homebase
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input id="mce-group[13229]-13229-1" name="group[13229][2]" type="checkbox" value="2"><label for="mce-group[13229]-13229-1">I'm interested in finding grants with Homebase
                  </label>
                </div>

            </div>

            <div class="clear" id="mce-responses">
              <div class="response" id="mce-error-response" style="display:none"></div>

              <div class="response" id="mce-success-response" style="display:none"></div>
            </div><!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

            <div style="position: absolute; left: -5000px;">
              <input name="b_a51df0416eed89be630c22fd4_da30a00040" tabindex="-1" type="text" value="">
            </div>
            
          </div><!--./mc_embed_signup-->
        
        </div><!-- ./modal-body -->

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <!-- <button type="button" class="btn btn-primary" id="mc-embedded-subscribe" name="subscribe" type="submit" value="Subscribe">Sign up</button> -->
          <input class="button btn btn-primary" id="mc-embedded-subscribe" name="subscribe" type="submit" value="Sign up">
        </div>

      </form>
    </div><!-- ./modal-content -->
  </div><!-- ./modal-dialog -->
</div><!-- ./modal -->
