<div class="test-prog-bar">
  <div class="house-block">
    <%= image_tag "house.png",                      class: "house"    %>
    <%= image_tag "color-house-parts/addition.png", class: "addition" %>
  </div>
  <h2>Progress</h2>
  <div class="bar">
    <div class="bar small waypoint"></div>
  </div>
  <h6 class="progress-percent">0%</h6> 
  Current Step: <%= cur_step %>
</div>
<script>
  var addition = <%= @permit.addition != nil ? @permit.addition : false %>;
  if (addition)
  {
    $(".addition").fadeToggle("fast","swing");
    $('.addition-btn').toggleClass("toggle-on");
  }
</script>