<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Session expiring</h4>
      </div>
      <div class="modal-body">
        <p>Are you still there? This session will restart after 3 minutes.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">YES, I'm still here</button>
        <a href="http://app.homebasefix.com/" class="btn btn-primary">NO, restart the session</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function($) { 
  // Call timeout modal after 7 minutes
  function show_modal(){
    $('#myModal').modal();
  }
  window.setTimeout(show_modal, 420000); // your 7 minute delay before it calls the modal function
});

  // Redirect to 1st step after 10 minutes
  window.setTimeout(function () {
      location.href = "http://app.homebasefix.com/";
  }, 600000)
</script>