<!-- Timeout modal -->
<div class="modal fade" id="timeoutModal" tabindex="-1" role="dialog" aria-labelledby="leanModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="timeoutModalLabel">Session expiring</h4>
      </div>
      <div class="modal-body">
        <p>Are you still there? This session will restart after 3 minutes.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">YES, I'm still here</button>
        <%= link_to 'NO, restart the session', root_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>